<div class='container'>
	<div class='mb-3'>
		<h3>Contacts</h3>
		<%= link_to "See My Contacts (#{@profile.contacts.count})", contacts_path, class: 'btn btn-primary' %>
	</div>

	<h3>Invitations</h3>
	<ul class='list-group'>
		<% @profile.requestor_relationships.each do |cr| %>
			<li class='list-group-item'>
				<div class='col-12 col-sm-10 d-flex'>
					<%= image_tag cr.profile.image.variant(resize: "100x100") %>
					<div class='d-flex align-items-center'>
						<%= cr.profile.name %>
						<%= cr.profile.title %>
					</div>
				</div>
				<% if cr.request_message %>
					<div class='offset-1 col-10 bg-light p-3 mt-2'>
						<%= cr.request_message %> 
					</div>
				<% end %>
				<div class='col-12 text-center mt-2'>
					<button class='btn btn-primary'>Ignore</button>
					<button class='btn btn-primary'>Accept</button>
				</div>	
			</li>	
		<% end %>
	</ul>
</div>