<h1>Update your profile</h1>

<div>
  <div>
    <%= form_for(@profile) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :country %>
      <%= f.text_field :country %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.file_field :image %>

      <%= f.submit "Save changes" %>
    <% end %>
  </div>
</div>