<div class="container">
  <div id='modal-window' class='modal hide fade' aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" >
    <div class="modal-dialog" role='document'>
      <div class="modal-content">

      </div>
    </div>
  </div>
  <%= bootstrap_pagination @profiles %>
  <ul class='list-group'>
    <p class='text-muted mb-0'>Showing<%= @profiles.length %> results</p>
    <% @profiles.each do |profile| %>
      <%= render layout: '/shared/profile_list_item', locals: { profile: profile } do %>
        <% if current_user.id == profile.id %>
          <%= link_to 'Edit Profile', edit_profile_path(current_user.id), class: 'btn btn-primary' %>
        <% elsif current_user.profile.contacts.include?(profile) %>
          <%= link_to 'Email', '#/', class: 'btn btn-primary' %>
        <% elsif current_user.profile.receivers.include?(profile) %>
          <button class='btn btn-primary disabled'>Connect</button>
        <% elsif current_user.profile.requestors.include?(profile) %>
        <% else %>
          <%= link_to 'Connect', '#/', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <%= bootstrap_pagination @profiles %>
</div>
