<div class='container'>
	<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content"></div>
		  </div>
	</div>
	<%= bootstrap_pagination @profiles %>
	<ul class='list-group'>
		<p class='text-muted mb-0'>Showing <%= @profiles.length %> results</p>
		<% @profiles.each do |profile| %>
			<li class='list-group-item d-flex flex-md-row text-md-left flex-wrap border-right-0 border-left-0'>

				<div class='order-1 mr-auto mr-md-0'>
					<%= link_to profile_path(profile) do %>
						<%= image_tag profile.image.variant(resize: "100x100") %>
					<% end %>
				</div>

				<div class='order-3 order-md-2 mr-md-auto w-100 w-md-auto'>
					<%= link_to(profile.name, profile_path(profile), class: 'mb-0 text-primary font-weight-bold') %> 
					<p class='mb-0 text-wrap'><%= shortify profile.title, 50 %></p>
					<small class='mt-0'><p><%=profile.country %></p></small>
				</div>

				<div class='order-2 order-md-3 align-self-center'>
					<% if current_user.id == profile.id %>
						<%= link_to 'Edit Profile', edit_profile_path(current_user.id), class: 'btn btn-primary' %>
					<% elsif current_user.profile.contacts.include?(profile) %>
						<%= link_to 'Email', '#/', class: 'btn btn-primary' %>
					<% elsif current_user.profile.receivers.include?(profile) %>
						<button class='btn btn-primary disabled'>Connect</button>
					<% elsif current_user.profile.requestors.include?(profile) %>
					<% else %>
						<%= link_to 'Connect', new_connection_request_path(contact_id: profile.id), remote: true, data: { target: '#modal-window', toggle: 'modal'}, class: 'btn btn-primary' %>
					<% end %>
				</div>
			</li>
		<% end %>
	</ul>
	<%= bootstrap_pagination @profiles %>
</div>

		