<div class='container'>
	<%= bootstrap_pagination @profiles %>
	<ul class='list-unstyled'>
		<% @profiles.each do |profile| %>
			<li class='list-item row no-gutters align-items-center border-top border-botom pb-3'>
				<div class='col-10'>
					<div class='row no-gutters align-items-center'>
						<div class='col-3 col-md-2'>
							<%= link_to profile_path(profile) do %>
								<%= image_tag profile.image.variant(resize: "100x100") %>
							<% end %>
						</div>
						<div class='col-9 col-sm-8 ml-sm-3'>
							<%= link_to(profile.name, profile_path(profile), class: 'mb-0 text-primary font-weight-bold') %> 
							<p class='mb-0 text-wrap'><%= shortify profile.title, 50 %></p>
						</div>
					</div>
				</div>
				<div class='col-2'>
					<button type='button' class='btn btn-primary' data-toggle='modal' data-target='#request-modal'>Connect</button>
				</div>
			</li>
		<% end %>
	</ul>
	<%= bootstrap_pagination @profiles %>
</div>

		