<div class="container">
  <%= bootstrap_pagination @profiles %>
  <ul class='list-group'>
    <p class='text-muted mb-0'>Showing <%= @profiles.length %> results</p>
    <profile-list
      :profiles='<%= @profiles.to_json %>'
      :user="<%= current_user.to_json(only: :id, include: { profile: { only: :id, include: [ {contacts: {only: :id}},{receivers: {only: :id}}, {requestors: {only: :id}} ]}}) %>"
      @new-notice='addNotice'
    >
    </profile-list>
  </ul>
  <%= bootstrap_pagination @profiles %>
</div>
