<profile
  inline-template
  @new-notice='addNotice'
  :request="<%= @connection_request.to_json(only: :id) %>"
  :profile="<%= @profile.to_json(only: :id) %>"
  :user="<%= current_user.to_json(only: :id, include: { profile: { only: :id, include: [ {contacts: {only: :id}},{receivers: {only: :id}}, {requestors: {only: :id}} ]}}) %>"
>
  <div id='profile' class="container">
    <request-modal @send-request='sendRequest'></request-modal>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <% if @profile.image.attached? %>
          <%= image_tag @profile.image.variant(resize: "100x100") %>
        <% else %>
          <%= image_tag 'placeholder_avatar.png', size: '100x100' %>
        <% end %>
        <h1><%= @profile.name %></h1>
        <p><%= @profile.title %></p>
        <p><%= @profile.country %></p>
      </div>
      <div class='col-xs-12 col-sm-6'>
          <template v-if='currentUser.profile.id === profile.id'>
            <div class="d-flex justify-content-start justify-content-sm-end">
              <%= link_to 'Edit', edit_profile_path(current_user.profile), class: 'btn btn-primary' %>
              <%= link_to "See Contacts (#{@profile.contacts.length})", contacts_path, class: 'btn btn-primary ml-1' %>
            </div>
          </template>
          <template v-else>
            <div class="d-flex flex-sm-column align-items-sm-end justify-content-sm-between h-100 justify-content-between">
              <p class='text-primary rounded border border-primary p-2 ml-1 mb-0'>
                Connections <%= @profile.contacts.length %>
              </p>
              <template v-if='isContact'>
                <div>
                  <%= link_to 'Email', '#/', class: 'btn btn-primary' %>
                  <button @click='removeContact(profile.id)' class='btn btn-primary'>Remove</button>
                </div>
              </template>
              <button v-else-if='isReceiver' class='btn btn-primary' @click='withdrawRequest(connectionRequest.id)'>Withdraw</button>
              <template v-else-if='isRequestor'>
                <div>
                  <button class='btn btn-primary' @click='declineRequest(connectionRequest.id)'>Ignore</button>
                  <button class='btn btn-primary' @click='acceptRequest(connectionRequest.id)'>Accept</button>
                </div>
              </template>
              <button v-else class='btn btn-primary' data-target='#modal-window' data-toggle='modal'>Connect</button>
            </div>
          </template>
      </div>
    </div>
    <hr class='bg-secondary row justify-content-center justify-content-md-start col-11'>
    <p><%= @profile.description %></p>
  </div>
</profile>
