<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Send Request</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <%= form_with model: @connection_request, local: true do |form| %>
  	<%= label_tag(:request_message, "Add Optional Message") %>
  	<%= form.text_area :request_message, size: '10x7', class: 'd-flex w-100' %>
  	<%= form.hidden_field :profile_id, value: current_user.id %>
  	<%= form.hidden_field :contact_id, value: @contact_id %>
  	
    <div class="modal-footer align-items-center p-0 pt-3 d-flex justify-content-center">
      <%= form.submit "Send", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
