<li class='list-group-item d-flex flex-column flex-md-row text-center text-md-left flex-md-wrap align-items-center'>
	<div class='order-1'>
		<%= link_to profile_path(req.profile) do %>
			<%= image_tag req.profile.image.variant(resize: "100x100") %>
		<% end %>
	</div>
	<div class='order-2 mr-md-auto'>
		<%= link_to(req.profile.name, profile_path(req.profile), class: 'text-primary font-weight-bold') %>
		<p class='subtitle-small mb-0'><%= req.profile.title %></p>
		<small><p class='text-muted mb-0'><%= req.profile.country %></p></small>
	</div>
	<% if req.request_message %>
		<div class='order-3 order-md-4 w-100 bg-secondary p-3 rounded mt-md-2'>
			<%= req.request_message %> 
		</div>
	<% end %>
	<div class='mt-1 order-4 order-md-3'>
		<%= link_to 'Ignore',  connection_request_path(req), method: :delete, class: 'btn btn-primary' %>
		<%= link_to 'Accept', connection_request_path(req),
			method: :put, class: 'btn btn-primary' %>
	</div>	
</li>	