<nav class='navbar navbar-expand-lg bg-primary navbar-dark'>
  <div class="container">
    <div class="d-flex justify-content-start flex-column flex-sm-row">
      <%= link_to 'AWS Community', root_path, class: 'navbar-brand' %>
      <% if user_signed_in? %>
        <%= search_form_for @q, url: search_profiles_path, html: { method: :post, class: 'form-inline align-self-start' } do |f| %>
          <%= f.search_field :name_or_title_cont, class: 'form-control', placeholder: 'Search...' %>
        <% end %>
      <% end %>
    </div>
    <button class='navbar-toggler' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation' data-target='#navbarSupportedContent' data-toggle='collapse' type='button'>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id='navbarSupportedContent' class='collapse navbar-collapse justify-content-end'>
      <div class="navbar-nav">
        <% if user_signed_in? %>
          <%= link_to 'Explore Profiles', profiles_path, class: 'nav-link text-light' %>
          <li class='nav-item dropdown'>
            <a id='navbarDropdown' class='nav-link dropdown-toggle' aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" >Settings</a>
            <div class="dropdown-menu" aria-labelledby='navbarDropdown'>
              <%=  link_to 'Profile', profile_path(current_user.profile), class: 'dropdown-item' %>
              <%= link_to 'My Account', '/account', class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Requests', connection_requests_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </li>
        <% else %>
          <li class='nav-item'>
            <%= link_to 'Login', new_user_session_path, class: 'nav-link text-light' %>
          </li>
          <li class='nav-item'>
            <%= link_to 'Register', new_user_registration_path, class: 'nav-link text-light' %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</nav>
