<!DOCTYPE html>
<html>
  <head>
    <title>OlegarioAngularApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if notice %>
      <p class="notification is-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="notification is-warning"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
