<!DOCTYPE html>
<html>
  <head>
    <title>OlegarioAngularApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id='app'>
      <%= render 'layouts/header' %>
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
      <div class='content mt-5 mb-5'>
        <%= yield %> 
      </div> 
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
